# Exploring absenteeism rates

Here, we explore whether trends in chronic absenteeism emerge in our clusters.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("output/clustered-2024.csv")

In [3]:
cols_to_use = [ "DBN", "School Name", "Grade", "Year", "% Chronically Absent" ]
attendance_df = pd.read_excel("data/public-school-attendance-results-2019-2024.xlsb", sheet_name="All Students", usecols=cols_to_use)

In [4]:
attendance_df = attendance_df[(
    attendance_df["Grade"] == "All Grades") & (
    attendance_df["Year"] == "2023-24"
)]

In [5]:
merged_df = df.merge(attendance_df[["DBN", "% Chronically Absent"]], on="DBN", how="left")
merged_df.sample(3)

,DBN,School Name,Year,Total Enrollment,% Asian and Pacific Islander,% Black,% Hispanic,% Multi-Racial,% Native American,% White,% Missing Race/Ethnicity Data,Borough,kmeans_label,% Chronically Absent
1168,25Q185,J.H.S. 185 Edward Bleeker,2024-25,1520,0.600658,0.014474,0.317763,0.007895,0.003289,0.055921,0.0,Q,0,14.941022
452,09X644,Bronx Debate Academy,2024-25,131,0.007634,0.175573,0.786260,0.000000,0.022901,0.007634,0.0,X,2,NaN
1781,84Q386,Our World Neighborhood Charter School 2,2024-25,433,0.043880,0.468822,0.424942,0.023095,0.025404,0.013857,0.0,Q,1,NaN

In [6]:
merged_df.to_csv("output/absenteeism.csv", encoding="UTF-8", index=False)

In [7]:
trends = merged_df.groupby("kmeans_label")["% Chronically Absent"].agg(["mean", "min", "max", "std"])
trends.T

kmeans_label          0          1          2          3          4
mean          24.466957  47.325845  39.550344  43.697381  26.754498
min             2.96496   9.947644  11.796247   7.608696   3.543307
max            64.72081  83.160622  78.348213  78.012047  67.781158
std           12.096961  13.365106  11.893878  13.320711  11.356191